/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

@layer components {
  .h-video {
    height: 1026px;
    width: 726px;
    max-height: 80vh !important;
  }
}
